pyyaml~=6.0.2
torch~=2.6.0
torchvision~=0.21.0
accelerate~=1.5.2
diffusers
pillow~=11.1.0
h5py
opencv-python
peft~=0.14.0
numpy==1.24.0
scipy
git+https://github.com/huggingface/transformers
num2words
safetensors~=0.5.3
nltk~=3.9.1
packaging~=24.2
setuptools~=53.0.0
anls
nltk